<div class="m-4">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のerrorが発生しました
    <% @book.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <h2>Editing Book</h2>
  <%= form_with(model: @book, local: true) do |f| %>

    <h6>Title</h6>
    <%= f.text_field :title %>

    <h6>Body</h6>
    <%= f.text_area :body %>

    <p><%= f.submit 'Update Book' %></p>
    <P class="ml-3"><%= link_to "Show", book_path %> | <%= link_to "Back", books_path %></P>


  <% end %>
</div>